<% @country.recipes.each do |recipe| %>
<h1><%= recipe.name %></h1>
<%= image_tag recipe.recipe_image %>
<h2><%= recipe.method %></h2>
<h3><%= recipe.id %> </h3>

<%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_recipe_path(recipe) %>
<%end%>


<%= link_to 'new recipe', new_recipe_path %>


